<div id="serverSelectContainer" style="display: none;">
    <div id="ktzServerSelectShell">
        <div id="ktzServerSelectSidebar">
            <div id="ktzServerSelectBrand">
                <span id="ktzServerSelectTitle">KTZ Launcher</span>
                <span id="ktzServerSelectSubtitle">서버를 선택하세요</span>
            </div>
            <div id="ktzServerList">
                <!-- Server cards are populated by serverSelect.js. -->
            </div>
        </div>
        <div id="ktzServerPreview">
            <div id="ktzServerPreviewImage"></div>
            <div id="ktzServerPreviewShade"></div>
            <div id="ktzServerPreviewInfo">
                <span id="ktzServerPreviewName">서버 선택</span>
                <span id="ktzServerPreviewDesc">접속할 서버를 선택하면 상세 정보가 표시됩니다.</span>
                <div id="ktzServerPreviewMeta">
                    <span id="ktzServerPreviewVersion">-</span>
                    <span id="ktzServerPreviewAddress">-</span>
                </div>
                <div id="ktzServerSelectActions">
                    <button id="ktzServerSelectConfirm">선택하기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/serverSelect.js"></script>
</div>
